<html ng-app="app">
<head>
  <title>Angular App</title>
  <!-- angular  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <!-- ng routes -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
  <!-- app -->
  <script src="app.js"></script>
  <!-- custom bootstrap -->
  <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" />
  <!-- custom styles -->
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<ng-view></ng-view>

<!-- Template -->
<script type="text/ng-template" id="/todos.html">
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.completed">
            <span class="todo">{{ todo.name }}</span>
        </li>
    </ul>
</script>

</body>
</html>
